*{
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
body{
    margin:0;
    padding:0;
}
.fixes {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: stretch; */
    
}
#img1{
    width: 300px;
    height: 200px;
}
.landing-page {
    background-color:rgb(39, 38, 38) ;
}
#brand {
    color: yellow;
}
 nav li a{
    position: relative;
    left: 300px;
}
#inquiries {
    position: relative;
    left: 900px;
}
.display-4,
#decription {
    color: white;
}
strong {
    color: yellow;
}
.btn {
    border-radius: 200px;
}
<<<<<<< HEAD
=======
.slideshow-container {
  width: 100%;
  position: relative;
  margin: auto;
  height: 400px;
  
}

.text {
  color: black;
  font-size: 20px;
  
  margin-left: 150px;
  margin-top: -200px;
  width: 100%;
  text-align: right;
>>>>>>> 02b428e3a518fdc91c35f84eb01c42e4b306215b

.kgaspic, .afrigaspic, .totalpic{
    height: 75px;
}
#mySlides .carousel-item p{
    font-size: 35px;
}
.pic1 , .pic2 , .pic3{
    height: 200px;
    width: 200px;
}

.pricetag{
    background: blue;
    color: white;
    width: fit-content;
    margin: auto;
}
.about-us{
    background-color: rgb(39, 38, 38);
}
#enock {
    width: 600px;
    height: 600px;
}
.who-we-are{
    background-color: azure;
    width: 60%;
    padding: 10px;
    border-bottom-left-radius: 30px;
}
.why-us{
    background-color: azure;
    width: 80%;
    padding: 10px;
    border-top-right-radius: 30px;
}
.gas-about{
    width: 60%;
}
.support{
    width: 100px;
    height: 100px;
}
.profile{
    height: 200px;
    width: 200px;
    border-color: 3px chocolate;
    border-radius: 50%;
}
.mycarousel{
    height: 400px;
}
.testimonials{
    height: 500px;
}
h3{
    color: white;
}
@media screen and (max-width: 768px) {
    .gas-about{
        display: none;
    }
    .who-are-we{
        display: flex;
        justify-content: center;
        width: 100%;
    }
}
#conhead{
    text-align: center;
    color: #272727;
    font-weight: 900;
}
#conusform{
    margin-top: 20px;
    background-color:rgb(39, 38, 38) ;

}
form{
    width: 80%;
    margin-top: 50px;
    padding-top: 20px;
}
.form .form-control{
    background-color: transparent;

}
#footer{
    background-color: #272727;
    margin-top: 50px;
    color:  #FFE400;;
}
#socials{
    margin-top: 20px;
}