*{
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
body{
    margin:0;
    padding:0;
}
#brand {
    color: yellow;
}
 nav li a{
    position: relative;
    left: 300px;
}
#inquiries {
    position: relative;
    left: 900px;
}
.display-4,
#decription {
    color: white;
}
strong {
    color: yellow;
}
.btn {
    border-radius: 200px;
}
.slideshow-container {
  max-width: 350px;
  position: relative;
  margin: auto;
  height: 400px;
  
}

.text {
  color: black;
  font-size: 20px;
  
  margin-left: 150px;
  margin-top: -200px;
  width: 100%;
  text-align: right;

}



.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
  .prev, .next,.text {font-size: 11px}
}



.about-us{
    background-color: rgb(134, 134, 131);
}
.who-we-are{
    background-color: azure;
    width: 60%;
    padding: 10px;
    border-bottom-left-radius: 30px;
}
.why-us{
    background-color: azure;
    width: 80%;
    padding: 10px;
    border-top-right-radius: 30px;
}
.gas-about{
    width: 60%;
}
.support{
    width: 100px;
    height: 100px;
}
.profile{
    height: 200px;
    width: 200px;
    border-color: 3px chocolate;
    border-radius: 50%;
}
.mycarousel{
    height: 400px;
}
.testimonials{
    height: 500px;
}
h3{
    color: white;
}
@media screen and (max-width: 768px) {
    .gas-about{
        display: none;
    }
    .who-are-we{
        display: flex;
        justify-content: center;
        width: 100%;
    }
}
#conusform{
    margin-top: 20px;
    background-image: url("images/conus.jpeg");
    
    background-size: auto;
    background-repeat: no-repeat;
    
}
form{
    width: 80%;
}
.form .form-control{
    background-color: transparent;

}
#footer{
    background-color: #272727;
    margin-top: 50px;
    color:  #FFE400;;
}
#socials{
    margin-top: 20px;
}