* {
    margin: 0;
    padding: 0;
}
body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: rgb(39, 38, 38);
}

 #brand {
    color: yellow;
}
 nav li a{
    position: relative;
    left: 300px;
}
#inquiries {
    position: relative;
    left: 900px;
}
.display-4,
#decription {
    color: white;
}
strong {
    color: yellow;
}
.btn {
    border-radius: 200px;
}