*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    background: #5E5C5C;
}

nav {
    height: 100px;
}
.navlogo a {
    color: #F3B820;
    font-family: 'Courier New', Courier, monospace;
}
.navbar a{
    list-style: none;
    text-decoration: none;
    font-size: 30px;
}

.responsive {
    height: 100px;
}